* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
background-color: lightgray;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom: 20%;
}

header div {
  
  
  margin-left: auto;
  margin-right: auto;
  
  
}
dialog {
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  
  
}

#logo {
  
  background-color: red;
  color: white;
  
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 4px 8px 13px white;
  width: 180px;
  
  
}

#enviar {
  
  
background-color: white;
font-size: 25px;

margin: 80px;
padding: 10px;
border-radius: 10px;
margin-top: 10px;
  
  
  
}

#ver {
  
  background-color: white;
  font-size: 25px;

padding: 10px;
border-radius: 10px;
margin-top: 10px;
  
}

#insta {
  
  background: linear-gradient(to left, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  font-weight: bold;
  color: white;

  font-size: 25px;

padding: 10px;
border-radius: 10px;
margin-top: 10px;
white-space: nowrap;
border: none;
  box-shadow: 2px 4px 8px blueviolet;
}

#videos, #tiktok {
  
  overflow-x: auto;
  white-space: nowrap;
  
  
}
input {
  
  outline: none;
  padding: 10px;
 background-color: lightgray;
  border-radius: 1rem;
  border: none;
}
#submit {
  
  padding: 10px;
 background-color: red;
 color: white;
 font-weight: bold;
  border-radius: 1rem;
  border: none;
  
}

  #moedass {
    
    display: flex;
    justify-content: space-between 2px;
    justify-content: center;
    
    
  }
      
      
      #tiktok img {
        
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: solid 4px #5433FF;
        
      }
    

#tik {
  
  background: linear-gradient(135deg, #EE1D52, #5433FF);
  font-weight: bold;
  color: white;
  font-size: 25px;
border: none;
box-shadow: 3px 4px 8px purple;
padding: 10px;
border-radius: 10px;

}